@model ToDo_App.Models.ToDo
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Details";
}

<h1>@Localizer["DetailsTitle"]</h1>

<div>
    <h4>@Localizer["ToDoTitle"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Localizer["ToDoName"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Localizer["ToDoDescription"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Deadline"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Status"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsCompleted)
        </dd>
    </dl>
    @if (User.IsInRole("admin"))
    {
        <h4>@Localizer["Author"]</h4>
        <hr />
        <dl class="row">

            <dt class="col-sm-2">
                ID
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.Id)
            </dd>
            <dt class="col-sm-2">
                @Localizer["Email"]
            </dt>
            <dd class="col-sm-10">
                <a asp-controller="Users"
                   asp-action="Details"
                   asp-route-id="@Model.UserId"
                   class="btn-link">@Html.DisplayFor(model => model.User.Email)</a>
            </dd>
            <dt class="col-sm-2">
                @Localizer["UserLastName"]
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.LastName)
            </dd>
            <dt class="col-sm-2">
                @Localizer["UserFirstName"]
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.FirstName)
            </dd>
        </dl>


    }
</div>


<div class="form-group">
    <a asp-action="Index"
       asp-route-page="@ViewData["Page"]"
       asp-route-filterOrder="@ViewData["FilterStatus"]" class="btn btn-primary">@Localizer["BackButton"]</a>
</div>