@using ToDo_App.Models.Abstractions
@using ToDo_App.Enums;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IndexViewModel<ToDo>

@{
    ViewData["Title"] = "Index";
}

<h1>@Localizer["ToDosTitle"]</h1>

<
@{ToDoFilter newFilter = ViewBag.FilterStatus == ToDoFilter.AllTasks ? ToDoFilter.OnlyOpenTasks : ToDoFilter.AllTasks; }
<form asp-action="Index" asp-route-filterOrder="@newFilter">
    <div class="form-actions no-color">
        <p>
            <a asp-action="Create" asp-route-page="@Model.PageViewModel.PageNumber" class="btn btn-success">@Localizer["CreateButton"]</a>
            @if (ViewBag.FilterStatus != ToDoFilter.OnlyOpenTasks)
            {
                <a asp-action="Index" asp-route-filterOrder="@ViewBag.FilterStatus" asp-route-page="@Model.PageViewModel.PageNumber" class="btn btn-primary">@Localizer["ShowAllButton"]</a>
            }
            else
            {
                <a asp-action="Index" asp-route-filterOrder="@ViewBag.FilterStatus" asp-route-page="@Model.PageViewModel.PageNumber" class="btn btn-primary">@Localizer["ShowNotCompleted"]</a>
            }
            <input type="text" name="SearchString" value="@ViewData["SearchFilter"]" />
            <input type="submit" value="@Localizer["SearchButton"]" class="btn btn-outline-primary" />
            @{if (!String.IsNullOrEmpty(@ViewBag.SearchFilter))
                {
                    <a asp-action="Index" class="btn btn-outline-primary">@Localizer["BackToFullListButton"]</a>
                }
            }

        </p>
    </div>
</form>



<table class="table">
    <thead>
        <tr>
            @if (User.IsInRole("admin"))
            {
                <th>
                    @Localizer["Email"]
                </th>
            }
            <th>
                @Localizer["Name"]
            </th>
            <th>
                @{ViewBag.FilterStatus = ViewBag.FilterStatus == ToDoFilter.OnlyOpenTasks ? ToDoFilter.AllTasks : ToDoFilter.OnlyOpenTasks;}
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewBag.DeadlineSort"
                   asp-route-filterOrder="@ViewBag.FilterStatus"
                   asp-route-searchString="@ViewData["SearchFilter"]"
                   asp-route-page="@Model.PageViewModel.PageNumber">
                    @Localizer["Deadline"]
                </a>
            </th>
            <th>
                @Localizer["Status"]
            </th>
            <th>
                @Localizer["Actions"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                @if (User.IsInRole("admin"))
                {
                    <td>
                        <a asp-controller="Users"
                           asp-action="Details"
                           asp-route-id="@item.User.Id"
                           class="btn-link">@Html.DisplayFor(modelItem => item.User.Email)</a>
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deadline)
                </td>
                <td>
                    <a asp-action="MarkAsComplete" asp-route-id="@item.Id"
                       asp-route-page="@Model.PageViewModel.PageNumber"
                       asp-route-filterOrder="@ViewBag.FilterStatus"
                       asp-route-sortOrder="@ViewBag.DeadlineSort" class="btn bg-transparent">@Html.DisplayFor(modelItem => item.IsCompleted)</a>
                </td>
                <td>
                    <a asp-action="Edit"
                       asp-route-page="@Model.PageViewModel.PageNumber"
                       asp-route-id="@item.Id"
                       asp-route-filterOrder="@ViewBag.FilterStatus"
                       class="btn btn-outline-primary">@Localizer["EditButton"]</a>

                    <a asp-action="Details" asp-route-page="@Model.PageViewModel.PageNumber"
                       asp-route-id="@item.Id"
                       asp-route-filterOrder="@ViewBag.FilterStatus"
                       class="btn btn-outline-primary">@Localizer["DetailsButton"]</a>

                    <a asp-action="Delete" asp-route-page="@Model.PageViewModel.PageNumber"
                       asp-route-id="@item.Id"
                       asp-route-filterOrder="@ViewBag.FilterStatus"
                       class="btn btn-outline-danger">@Localizer["DeleteButton"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.PageViewModel.HasPreviousPage)
{

    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-filterOrder="@ViewBag.FilterStatus"
       asp-route-searchString="@ViewData["SearchFilter"]"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        @Localizer["PreviousPage"]
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{

    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-filterOrder="@ViewBag.FilterStatus"
       asp-route-searchString="@ViewData["SearchFilter"]"
       class="btn btn-outline-dark">
        @Localizer["NextPage"]
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}

<a class="btn btn-block">@Model.PageViewModel.PageNumber</a>