@model ToDo_App.Models.User
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Delete";
}

<h1>@Localizer["DeleteTitle"]</h1>

<h3>@Localizer["DeleteConfirmMessage"]</h3>
<div>
    <h4>@Localizer["UserTitle"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Localizer["UserId"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Localizer["LastName"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Localizer["FirstName"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Email"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Localizer["DateOfRegistration"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfRegistration)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Role"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" asp-route-page="@ViewData["Page"]" value=" @Localizer["DeleteButton"]" class="btn btn-danger" />
        <a asp-action="Index" asp-route-page="@ViewData["Page"]" class="btn btn-primary">@Localizer["CancelButton"]</a>
    </form>

</div>
