@{
    ViewBag.Title = "About";
}

<h1>@ViewData["ProgramName"]</h1>
<h3>@ViewData["ProgramDescription"]</h3>

<br />
<br />
<br />

<div>
    <h4>@ViewData["DeveloperTitle"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @ViewData["DeveloperName"]
        </dt>
        <dd class="col-sm-10">
            Yurii
        </dd>
        <dt class="col-sm-2">
            @ViewData["DeveloperSurname"]
        </dt>
        <dd class="col-sm-10">
            Pasternak
        </dd>
        <dt class="col-sm-2">
            @ViewData["DeveloperEmail"]
        </dt>
        <dd class="col-sm-10">
            pasternak2048@gmail.com
        </dd>
        <dt class="col-sm-2">
            @ViewData["DeveloperAddress"]
        </dt>
        <dd class="col-sm-10">
            Lviv
        </dd>
        <dt class="col-sm-2">
            <a href="https://github.com/pasternak2048">@ViewData["DeveloperGitHubLink"]</a>
        </dt>
        <dd class="col-sm-10">

        </dd>
    </dl>
</div>
