@model ToDo_App.Models.User
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.WelcomeMessage, @Model.FirstName  @Model.LastName !</h1>
</div>

<dl class="row">
    <dt class="col-sm-2">
        @ViewData["LastName"]
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.LastName)
    </dd>
    <dt class="col-sm-2">
        @ViewData["FirstName"]
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.FirstName)
    </dd>
    <dt class="col-sm-2">
        @ViewData["Email"]
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Email)
    </dd>
    <dt class="col-sm-2">
        @ViewData["Address"]
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Address)
    </dd>
    <dt class="col-sm-2">
        @ViewData["DateOfRegistration"]
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.DateOfRegistration)
    </dd>
    <dt class="col-sm-2">
        @ViewData["Role"]
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Role.Name)
    </dd>
</dl>

<a asp-controller="Users"
   asp-action="Edit"
   asp-route-id="@Model.Id"
   class="btn btn-outline-primary">
    @ViewData["EditButton"]
</a>